.player-board {
	.tickets-counter {
        display: flex;
        column-gap: 10px;
		.ticket {
			background-image: url('img/ticketsCards.jpg');
			background-size: 400%;
			width: 33px;
			height: 51px;

            &[data-player-color='de71c0'] {
                background-position: #{calc(0 * 100% / 3)} 50%;
            }
            &[data-player-color='f04623'] {
                background-position: #{calc(1 * 100% / 3)} 50%;
            }
			&[data-player-color='fbbd0a'] {
				background-position: #{calc(2 * 100% / 3)} 50%;
			}
			&[data-player-color='8a4921'] {
				background-position: #{calc(3 * 100% / 3)} 50%;
			}
            &.used{
                background: none;
            }
		}
	}

	.additional-icons {
		display: flex;
		gap: 5px;
	}

	.xpd-help-icon {
		&.xpd-help-icon-mini {
			position: relative;
			top: 50%;
			transform: translateY(-8%);
			width: 15px;
			height: 15px;
			font-size: 10pt;
			margin-left: 5px;
		}
	}
}

.help-card {
	width: 355px;
	height: 480px;

	&.recto {
		background: url('img/help1.jpg') no-repeat;
	}

	&.verso {
		background: url('img/help2.jpg') no-repeat;
	}
}

.counters {
	display: flex;
	align-items: center;
	margin: 5px 0;
	font-weight: bold;

	.counter {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			padding: 0 5px 0 5px;
		}
	}
}

.additional-info {
	column-gap: 5px;
	justify-content: space-evenly;
}

.player-turn-order {
	user-select: none;
}

.icon {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.playerOrderHelp {
	padding: 3px;
}

#first-player {
	background: url('img/first-player.png');
	width: 48px;
	height: 48px;
}
