$FESTIVAL_CARD_WIDTH: 143px; //also change in stock-utils.ts
$FESTIVAL_CARD_HEIGHT: 263px;

$modifierTicketSize: 0.4;
$TICKET_CARD_WIDTH: calc(171px * $modifierTicketSize);
$TICKET_CARD_HEIGHT: calc(262px * $modifierTicketSize);

//(classic BGA colors) :
$player-colors: (
	'red': 'ff0000',
	'green': '008000',
	'blue': '0000ff',
	'yellow': 'ffa500',
	'purple': '982fff'
);

@import 'playerboards';
@import 'game-steps/game-steps';
@import 'bga-hacks/bga-hacks';
@import 'player-table/player-table';
@import 'settings';
@import '../node_modules/bga-cards/bga-cards';

html {
	background: #ffe4c2;
	background-repeat: no-repeat;
	background-size: 100%;
}

.festivibes-game-area {
	display: flex;
	justify-items: center;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content:center;
	gap: 20px;
}

.festival-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: flex-start;
	justify-items: center;
	max-width: fit-content;
	column-gap: 20px;
	row-gap: 10px;
	margin-right: 5px;
}
.player-count-2 {
	.festival-wrapper {
		grid-template-columns: repeat(5, 1fr);
	}
}
.stockitem {
	border-radius: 6px;
	background-size: 1000%;
	&.disabled {
		filter: contrast(0.6);
		cursor: not-allowed;
	}
}
.bga-cards_selected-card {
	box-shadow: 0 0 5px 5px greenyellow;
}

.card-stock {
	.slot {
		border-radius: 8px;
		height: $FESTIVAL_CARD_HEIGHT;
		width: $FESTIVAL_CARD_WIDTH;
		background: hsla(0, 0%, 100%, 0.4);
		outline: 1px solid hsla(0, 0%, 100%, 0.4);
	}

	&.ticket-slot {
		.slot {
			height: $TICKET_CARD_HEIGHT;
			width: $TICKET_CARD_WIDTH;
		}
	}

	&.event-slot {
		.slot {
			margin-top: -206px;
			&:first-child {
				margin-top: unset;
			}
		}
	}
}

.festivibes-card {
	//height: $FESTIVAL_CARD_HEIGHT;
	//width: $FESTIVAL_CARD_WIDTH;
	.card-side {
		border-radius: 3%;
	}
}

.css-icon {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	font-weight: bolder;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: rgb(21, 104, 134);
	cursor: pointer;
	pointer-events: auto;

	&.card-info {
		width: 25px;
		height: 25px;
		position: relative;
		top: 3%;
		left: 78%;
		color: white;
		background-color: rgb(58 21 134);
	}
}

.card .card-sides .card-side.front .card-info {
	pointer-events: all;
}
