$FESTIVAL_CARD_WIDTH: 143px; //also change in stock-utils.ts
$FESTIVAL_CARD_HEIGHT: 160px;

$EVENT_CARD_WIDTH: 143px; //also change in stock-utils.ts
$EVENT_CARD_HEIGHT: 263px;

$modifierTicketSize: 0.4;
$TICKET_CARD_WIDTH: calc(171px * $modifierTicketSize);
$TICKET_CARD_HEIGHT: calc(262px * $modifierTicketSize);

//(classic BGA colors) :
$player-colors: (
	'red': 'ff0000',
	'green': '008000',
	'blue': '0000ff',
	'yellow': 'ffa500',
	'purple': '982fff'
);

@import 'playerboards';
@import 'game-steps/game-steps';
@import 'bga-hacks/bga-hacks';
@import 'player-table/player-table';
@import 'settings';
@import '../node_modules/bga-cards/bga-cards';

html {
	background: #ffe4c2;
	background-repeat: no-repeat;
	background-size: 100%;
}

@mixin selected-element {
	box-shadow: 0 0 5px 5px rgb(200, 255, 47);
}

.festivibes-game-area {
	display: flex;
	justify-items: center;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.festival-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: flex-start;
	justify-items: center;
	max-width: fit-content;
	column-gap: 20px;
	row-gap: 10px;
	margin-right: 5px;
}
.player-count-2 {
	.festival-wrapper {
		grid-template-columns: repeat(5, 1fr);
	}
}
.stockitem {
	border-radius: 6px;
	background-size: 1000%;
	&.disabled {
		filter: contrast(0.6);
		cursor: not-allowed;
	}
}
.bga-cards_selected-card {
	@include selected-element;
}

.card-stock {
	.slot {
		border-radius: 8px;
		height: $FESTIVAL_CARD_HEIGHT;
		width: $FESTIVAL_CARD_WIDTH;
		background: hsla(0, 0%, 100%, 0.4);
		outline: 1px solid hsla(0, 0%, 100%, 0.4);
	}

	&.ticket-slot {
		.slot {
			height: $TICKET_CARD_HEIGHT;
			width: $TICKET_CARD_WIDTH;
			&:empty {
				cursor: pointer;
			}
			&.slot-selected {
				@include selected-element;
			}
		}
	}

	&.festival-slot {
		.slot {
			height: $FESTIVAL_CARD_HEIGHT;
			width: $FESTIVAL_CARD_WIDTH;
		}
	}

	&.event-slot {
		.slot {
			height: $EVENT_CARD_HEIGHT;
			width: $EVENT_CARD_WIDTH;
			margin-top: -206px;
			&:first-child {
				margin-top: unset;
			}

			background: #f7d7ad;
			&:nth-child(even) {
				background: #fbd29e;
			}
		}
	}
}

.festivibes-card {
	//height: $FESTIVAL_CARD_HEIGHT;
	//width: $FESTIVAL_CARD_WIDTH;
	.card-side {
		border-radius: 3%;
	}
}

.css-icon {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	font-weight: bolder;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: rgb(21, 104, 134);
	cursor: pointer;
	pointer-events: auto;

	&.card-info {
		width: 25px;
		height: 25px;
		position: relative;
		top: 1.5%;
		left: 78%;
		color: white;
		background-color: #692685;
		border: 2px solid #e9cca0;
	}
}

.card .card-sides .card-side.front .card-info {
	pointer-events: all;
}

.tooltip-wrapper,
.help-card {
	display: grid;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	span {
		margin-left: 5px;
		grid-column: 2;
	}
}

.help-card {
	grid-template-columns: 130px auto;
	font-size: smaller;
	justify-items: center;
	.event-action {
		scale: 0.7;
	}
}

.event-action {
	background-image: url(img/icones.png);
	background-repeat: no-repeat;
	grid-column: 1;
	scale: 0.8;

	&.DISCARD_EVENT {
		width: 120px;
		height: 62px;
		background-position: 0 0;
	}

	&.REPLACE_TICKET {
		width: 192px;
		height: 46px;
		background-position: 0 -62px;
	}

	&.SWAP_ANY_TICKETS {
		width: 150px;
		height: 40px;
		background-position: 0 -108px;
	}

	&.SWAP_EVENT {
		width: 142px;
		height: 62px;
		background-position: 0 -148px;
	}

	&.SWAP_EVENT_WITH_HAND {
		width: 180px;
		height: 62px;
		background-position: 0 -210px;
	}

	&.SWAP_MY_TICKET {
		width: 154px;
		height: 46px;
		background-position: 0 -272px;
	}

	&.INC_FESTIVAL_SIZE {
		width: 110px;
		height: 62px;
		background-position: 0 -318px;
	}
}
